body, html {
  background-color: #A8DADC;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 移除超連結的下劃線 */
}

/* ------------------- 最上方淺藍水平條 ------------------- */
.container-wrapper {
  background-color: rgba(69, 123, 157, 0.5); /* 使用 rgba() 函數設置透明度為 50% */
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 50px;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 0; /* 定位到上方 */
  left: 0; /* 定位到左邊 */
  width: 100%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.container-wrapper p {
  font-family: fantasy;
  color:#fff;
  font-size: 25px;
  margin-left: 10px; /* 添加左邊距以使文字與容器左側有一定間距 */
}
/*  ------------------------------------------------------- */

/*  ------------ 最上方淺藍水平條尾部之使用者區塊 ------------ */
.container-wrapper-user {
  background-color: rgba(69, 123, 157, 0.5); /* 使用常規的顏色值設置背景色 */
  position: absolute;
  right: 0;
  display: flex;
  width: 150px;
  height: 50px; 
  z-index: 3; /* 將容器的 z-index 設置為 1，使其在下方 */
}

.container-wrapper-user img {
  width: 30px; /* 調整相片的寬度 */
  height: 30px; /* 調整相片的高度 */
  border-radius: 50%; /* 將相片裁剪成圓形 */
  margin-right: 10px; /* 添加右邊距 */
  margin: 10px;
}

.container-wrapper-user button {
  background-color: rgba(69, 123, 157, 0.5); /* 使用常規的顏色值設置背景色 */
  display: flex;
  align-items: center; /* 垂直居中子元素 */
  border: none;
  color: #fff; /* 文字顏色設為白色 */
  width: 100%; /* 按鈕寬度擴展到整個容器 */
  padding: 0; /* 移除內填充 */
}

.container-wrapper-user button:hover {
  background-color: #154360; /* 在滑過時更改背景色 */
}

.container-wrapper-user button:active {
  background-color: #154360; /* 在按下時更改背景色 */
}

#Block1 {
  background-color: #154360; /* 使用常規的顏色值設置背景色 */
  border: 2px solid #F1FAEE; /* 添加白色實線邊框 */
  position: absolute; 
  right: 0;
  top:50px;
  display: flex;
  width: 250px;
  height: 200px; 
  z-index: 4; /* 將容器的 z-index 設置為 1，使其在下方 */
}
#Block2 {
  background-color: #F1FAEE; /* 使用常規的顏色值設置背景色 */
  border: 2px solid #F1FAEE; /* 添加白色實線邊框 */
  position: absolute;
  right: 0;
  top:200px;
  display: flex;
  width: 250px;
  height: 50px; 
  z-index: 4; /* 將容器的 z-index 設置為 1，使其在下方 */
}

/* Update 視窗 */
/* 模態框 */
.modal {
  display: none; /* 預設隱藏 */
  position: absolute; /* 固定在畫面上 */
  z-index: 4; /* 放置在所有其他元素之上 */
  left: 50%; /* 將模態框左側置於頁面中央 */
  transform: translate(-50%, 0); /* 將模態框水平居中 */
  width: 100%;
  height: 100%;
  overflow: auto; /* 允許滾動 */
  background-color: rgba(0,0,0,0.4); /* 背景色帶有半透明效果 */
}


/* 模態框內容 */
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
  position: relative; /* 將容器設置為相對定位 */
  padding: 20px;
  margin: 50px auto; /* 水平置中 */
  height: 400px;
  border: 1px solid #888;
  width: 30%; /* 設置模態框寬度 */
  display: flex;
  flex-direction: column;
}


.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* 添加間距 */
}

.input-container p {
  margin-right: 10px; /* 調整文字與輸入框之間的間距 */
}

.input-field {
  flex: 1; /* 讓輸入框彈性增長以填滿剩餘空間 */
  margin-right: 20px;
}
/* 關閉按鈕 */
.close {
  color: #aaa;
  position: absolute; /* 固定在父容器上 */
  top: 0;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#CloseBTN {
  background-color: #E63946;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute; /* 固定在父容器上 */
  bottom: 10px; /* 相對於父元素下緣的距離 */
  right: 200px; /* 相對於父元素右緣的距離 */
  width: 80px;
  top:350px;
  height: 30px;
}

#SaveBTN {
  background-color: #32CD32;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute; /* 固定在父容器上 */
  bottom: 10px; /* 相對於父元素下緣的距離 */
  right: 100px; /* 相對於父元素右緣的距離 */
  width: 80px;
  top:350px;
  height: 30px;
}
/*  ------------------------------------------------------- */

/* -------------使用者圓形頭像+名稱+綠點ONLINE--------------- */
.user-info {
  background-color: #154360;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
}

.user-info img {
  width: 60px; /* 調整相片的寬度 */
  height: 60px; /* 調整相片的高度 */
  border-radius: 50%; /* 將相片裁剪成圓形 */
  margin-right: 10px; /* 添加右邊距 */
  margin: 70px auto auto 30px;
}

.user-info p {
  margin: 70px auto auto 10px;
  color:#fff;
  position: absolute; 
  left:90px;
  top:8px;
  font-size: 20px; /* 設置名稱的字體大小 */
  font-family: Arial, Helvetica, sans-serif;
}

.online {
  color: #fff; /* 在線狀態的文字顏色 */
  font-size: 20px; /* 在線狀態的字體大小 */
  display: flex;
  justify-content: flex-start; /* 水平靠左對齊 */
}
/*  ------------------------------------------------------- */

/* --------------------- 列表標題與選項 ---------------------*/
.List-Title {
  background-color: #457B9D;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  display: flex;
  width: 300px;
}

/* Home */
.List_Option {
  background-color: #154360; /* 使用常規的顏色值設置背景色 */
  display: flex;
  width: 300px;
  min-height: 100vh; /* 使用視窗的高度作為最小高度 */
  position: relative; /* 將容器設置為相對定位 */
  z-index: 1; /* 將容器的 z-index 設置為 1，使其在下方 */
}

.List_Option button{
  background-color: #154360;
  font-size: 20px; /* 在線狀態的字體大小 */
  color:#fff;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
}

.List_Option button:hover {
  background-color: #457B9D; /* 在滑過時更改背景色 */
}

.List_Option button:active {
  background-color: #457B9D; /* 在按下時更改背景色 */
}
/*  ------------------------------------------------------- */


/**/
.Home_Content {
  position: absolute; /* 絕對定位 */
  font-family: Arial, Helvetica, sans-serif;
  top: 50px; /* 與容器頂部的距離 */
  left: 300px; /* 與容器左側的距離 */
}

.Content_Title{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute; /* 絕對定位 */
  left: 45px; /* 與容器左側的距離 */
  min-width: 149vh;
  min-height: 100%;
}

.Content_Title button{
  background-color: #154360;
  font-size: 15px; /* 在線狀態的字體大小 */
  color:#fff;
  margin: 20px auto auto 10px;
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
}

.Content_List{
  background-color: #fff;
  position: absolute; /* 絕對定位 */
  top: 200px;
  left: 45px; /* 與容器左側的距離 */
  min-width: 149vh;
}

.Content_List button:active {
  background-color: red; /* 在按下時更改背景色 */
}

.Content_List th:nth-child(1),
.Content_List td:nth-child(1) {
  width: 295px; /* 第一個欄位寬度為200px */
  border: 1px solid #ddd; /* 添加邊框 */
}

.Content_List th:nth-child(2),
.Content_List td:nth-child(2) {
  width: 295px; /* 第二個欄位寬度為250px */
  border: 1px solid #ddd; /* 添加邊框 */
}

.Content_List th:nth-child(3),
.Content_List td:nth-child(3) {
  width: 400px; /* 第二個欄位寬度為250px */
  border: 1px solid #ddd; /* 添加邊框 */
}

.Content_List th:nth-child(4),
.Content_List td:nth-child(4) {
  width: 295px; /* 第二個欄位寬度為250px */
  border: 1px solid #ddd; /* 添加邊框 */
}

/* 以此類推，設置其他欄位的寬度 */


.Content_List p{
  font-size: 20px;
}

/*錯誤訊息*/
.error-message{
  background-color: red; 
  position: relative; /* 將容器設為相對定位 */
  font-size: 15px;
  color: #fff; /* 設置文字顏色 */
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  height: 30%;
  text-align: center;
  width: 600px; /* 固定寬度 */
  max-width: 100%; /* 最大寬度為屏幕寬度的90% */
  position: relative; /* 將容器設為相對定位 */
  font-weight: bold;
  z-index: 4; /* 放置在其他内容上方 */
}

/*新增投票活動的model*/
/* 模態框 */
.Pollmodal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.pollmodal-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
  position: relative;
  padding: 20px;
  margin: 50px auto;
  border: 1px solid #888;
  min-height: 40vh; /* 设置最大高度 */
  overflow-y: auto; /* 添加垂直滚动条 */
  width: 30%;
  display: flex;
  flex-direction: column;
}


#EditoptionInputs {
  display: flex;
  flex-wrap: wrap;
}

#EditoptionInputs input {
  flex: 0 0 calc(50% - 10px); /* 一行显示两列，假设有 10px 的间距 */
  margin-right: 10px; /* 设置列之间的间距 */
  margin-bottom: 10px; /* 设置行之间的间距 */
}

.add-options-btn {
  position: absolute;
  background-color: #154360; 
  color: #F1FAEE;
  font-weight: bold;
  bottom:45px; /* 距离容器底部的距离，根据需要调整 */
  left: 10%; /* 水平居中 */
  transform: translateX(-50%); /* 水平居中 */
  border-radius: 10px;
}

.add-options-btn:hover {
  background-color: #FFC107; /* 在滑過時更改背景色 */
  color: #01182f;
  font-weight: bold;
  border-radius: 10px;
}

.add-options-btn:active {
  background-color: #154360; 
  color: #F1FAEE;
  font-weight: bold;
  border-radius: 10px;
}