body, html {
  background-color: #A8DADC;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex; /* 将 body 设置为 flex 布局 */
}
a {
  text-decoration: none; /* 移除超連結的下劃線 */
}

/* ------------------- 最上方淺藍水平條 ------------------- */
.container-wrapper {
  background-color: rgba(69, 123, 157, 0.5); /* 使用 rgba() 函數設置透明度為 50% */
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 50px;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 0; /* 定位到上方 */
  left: 0; /* 定位到左邊 */
  width: 100%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.container-wrapper p {
  font-family: fantasy;
  color:#fff;
  font-size: 25px;
  margin-left: 10px; /* 添加左邊距以使文字與容器左側有一定間距 */
}
/*  ------------------------------------------------------- */
/*  ------------ 最上方淺藍水平條尾部之使用者區塊 ------------ */
.container-wrapper-user {
  background-color: rgba(69, 123, 157, 0.5); /* 使用常規的顏色值設置背景色 */
  position: absolute;
  right: 0;
  display: flex;
  width: 150px;
  height: 50px; 
  z-index: 3; /* 將容器的 z-index 設置為 1，使其在下方 */
}

.container-wrapper-user img {
  width: 30px; /* 調整相片的寬度 */
  height: 30px; /* 調整相片的高度 */
  border-radius: 50%; /* 將相片裁剪成圓形 */
  margin-right: 10px; /* 添加右邊距 */
  margin: 10px;
}

.container-wrapper-user button {
  background-color: rgba(69, 123, 157, 0.5); /* 使用常規的顏色值設置背景色 */
  display: flex;
  align-items: center; /* 垂直居中子元素 */
  border: none;
  color: #fff; /* 文字顏色設為白色 */
  width: 100%; /* 按鈕寬度擴展到整個容器 */
  padding: 0; /* 移除內填充 */
}

.container-wrapper-user button:hover {
  background-color: #154360; /* 在滑過時更改背景色 */
}

.container-wrapper-user button:active {
  background-color: #154360; /* 在按下時更改背景色 */
}

#Block1 {
  background-color: #154360; /* 使用常規的顏色值設置背景色 */
  border: 2px solid #F1FAEE; /* 添加白色實線邊框 */
  position: absolute; 
  right: 0;
  top:50px;
  display: flex;
  width: 250px;
  height: 200px; 
  z-index: 4; /* 將容器的 z-index 設置為 1，使其在下方 */
}
#Block2 {
  background-color: #F1FAEE; /* 使用常規的顏色值設置背景色 */
  border: 2px solid #F1FAEE; /* 添加白色實線邊框 */
  position: absolute;
  right: 0;
  top:200px;
  display: flex;
  width: 250px;
  height: 50px; 
  z-index: 4; /* 將容器的 z-index 設置為 1，使其在下方 */
}
/*  ------------------------------------------------------- */
/* --------------------- Update 視窗 --------------------- */
/* 模態框 */
.modal {
  display: none; /* 預設隱藏 */
  position: absolute; /* 固定在畫面上 */
  z-index: 4; /* 放置在所有其他元素之上 */
  left: 50%; /* 將模態框左側置於頁面中央 */
  transform: translate(-50%, 0); /* 將模態框水平居中 */
  width: 100%;
  height: 100%;
  overflow: auto; /* 允許滾動 */
  background-color: rgba(0,0,0,0.4); /* 背景色帶有半透明效果 */
}

/* 模態框內容 */
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
  position: relative; /* 將容器設置為相對定位 */
  padding: 20px;
  margin: 50px auto; /* 水平置中 */
  height: 400px;
  border: 1px solid #888;
  width: 30%; /* 設置模態框寬度 */
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* 添加間距 */
}

.input-container p {
  margin-right: 10px; /* 調整文字與輸入框之間的間距 */
}

.input-field {
  flex: 1; /* 讓輸入框彈性增長以填滿剩餘空間 */
  margin-right: 20px;
}

/* 關閉按鈕 */
.close {
  color: #aaa;
  position: absolute; /* 固定在父容器上 */
  top: 0;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#CloseBTN {
  background-color: #E63946;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute; /* 固定在父容器上 */
  bottom: 10px; /* 相對於父元素下緣的距離 */
  right: 200px; /* 相對於父元素右緣的距離 */
  width: 80px;
  top:350px;
  height: 30px;
}

#SaveBTN {
  background-color: #32CD32;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute; /* 固定在父容器上 */
  bottom: 10px; /* 相對於父元素下緣的距離 */
  right: 100px; /* 相對於父元素右緣的距離 */
  width: 80px;
  top:350px;
  height: 30px;
}

/* -- 錯誤訊息 --*/
.error-message{
  background-color: red; 
  position: relative; /* 將容器設為相對定位 */
  font-size: 15px;
  color: #fff; /* 設置文字顏色 */
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  height: 30%;
  text-align: center;
  width: 600px; /* 固定寬度 */
  max-width: 100%; /* 最大寬度為屏幕寬度的90% */
  position: relative; /* 將容器設為相對定位 */
  font-weight: bold;
}

/*  ------------------------------------------------------- */
/* -------------使用者圓形頭像+名稱+綠點ONLINE--------------- */
.user-info {
  background-color: #154360;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
}

.user-info img {
  width: 60px; /* 調整相片的寬度 */
  height: 60px; /* 調整相片的高度 */
  border-radius: 50%; /* 將相片裁剪成圓形 */
  margin-right: 10px; /* 添加右邊距 */
  margin: 70px auto auto 30px;
}

.user-info p {
  margin: 70px auto auto 10px;
  color:#fff;
  position: absolute; 
  left:90px;
  top:8px;
  font-size: 20px; /* 設置名稱的字體大小 */
  font-family: Arial, Helvetica, sans-serif;
}

.online {
  color: #fff; /* 在線狀態的文字顏色 */
  font-size: 20px; /* 在線狀態的字體大小 */
  display: flex;
  justify-content: flex-start; /* 水平靠左對齊 */
}
/*  ------------------------------------------------------- */
/* --------------------- 最左側列表標題與選項 ---------------------*/
.List-Title {
  background-color: #457B9D;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  display: flex;
  width: 300px;
}

/* Home */
.List_Option {
  position: relative; /* 将容器设置为相对定位 */
  background-color: #154360;
  display: flex;
  flex-direction: column; /* 设置为垂直方向的 flex 布局 */
  width: 300px;
  min-height: 100vh;
  height: 100%;
  z-index: 1; /* 将容器的 z-index 设置为 1，使其在下方 */
}

#ListBTN{
  background-color: #154360;
  font-size: 20px; /* 在線狀態的字體大小 */
  color:#fff;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
}

#ListBTN button:hover {
  background-color: #457B9D; /* 在滑過時更改背景色 */
}

#ListBTN button:active {
  background-color: #457B9D; /* 在按下時更改背景色 */
}

/*  ------------------------------------------------------- */
/* --------------- 投票活動顯示區塊------------- */
.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* 或者 space-evenly */
  align-items: stretch;
  align-content: stretch;
  min-height: 500hv; /* 使用 min-height 代替 height */
  width: 1100px;
  margin-left: 445px;
  margin-top: 50px;
  z-index: 4;
}

.modal-container p{
  font-weight: bold;
}

.AllModal {
  width: 45%;
  margin-bottom: 10px;
  background-color: rgba(69, 123, 157, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  z-index: 4; /* 将容器的 z-index 设置为 1，使其在下方 */
}

.AllModal button {
  width: 100%;
  margin: 0 auto; /* 让按钮水平居中对齐 */
  margin-top: 5px; /* 添加上边距 */
  margin-bottom: 5px; /* 添加下边距 */
  padding: 10px 0;
  background-color: #406e8e;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.AllModal button:hover {
  background-color: #0000C6;
  font-weight: bold;
}

#owner_photo {
  width: 45px; /* 調整相片的寬度 */
  height: 45px; /* 調整相片的高度 */
  border-radius: 50%; /* 將相片裁剪成圓形 */
}

.AllModal p {
  letter-spacing: 1px; /* 调整字与字之间的间距 */
  margin: 7px 0; /* 上下各添加 10 像素的边距 */
}

/* 将包含 user 和 Titles 的 div 设置为 flex 布局 */
.AllModal div {
  display: flex;
  justify-content: space-between; /* 使子元素两端对齐 */
}

/*  ------------------------------------------------------- */
/* --------------- 投票活動、註冊人數統計顯示區塊------------- */
.PollNum{
  background-color: #154360; /* 使用 rgba() 函數設置透明度為 50% */
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 15%;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 120px; /* 定位到上方 */
  left: 350px; /* 定位到左邊 */
  width: 38%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.PollNum h1{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position:absolute;
  top: 0px;
  font-weight: bold;
}

.PollNum p{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position:absolute;
  top: 70px;
  left: 30px;
}

.UserNum{
  background-color:#E63946;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 15%;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 120px; /* 定位到上方 */
  left: 1000px; /* 定位到左邊 */
  width: 38%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.UserNum p{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position:absolute;
  top: 70px;
  left: 30px;
}

.UserNum h1{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position:absolute;
  top: 0px;
  font-weight: bold;
}

.PollMoreInfo{
  background-color: #FFC107; /* 使用 rgba() 函數設置透明度為 50% */
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 3%;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 250px; /* 定位到上方 */
  left: 350px; /* 定位到左邊 */
  width: 38%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.UserMoreInfo{
  background-color:#FFC107;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 3%;
  position: absolute; /* 將容器設置為絕對定位 */
  top: 250px; /* 定位到上方 */
  left: 1000px; /* 定位到左邊 */
  width: 38%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.UserMoreInfo button{
  border: none;
  font-family: Arial;
  font-size: 15px;
  background-color:#FFC107;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 100%;
  position: absolute; /* 將容器設置為絕對定位 */
  width: 100%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.UserMoreInfo button:hover {
  background-color: #E63946; /* 在滑過時更改背景色 */
  color: #fff;
}

.UserMoreInfo button:active {
  background-color: #800000; /* 在按下時更改背景色 */
}

.PollMoreInfo button{
  border: none;
  font-family: Arial;
  font-size: 15px;
  background-color:#FFC107;
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  justify-content: flex-start; /* 水平靠左對齊 */
  height: 100%;
  position: absolute; /* 將容器設置為絕對定位 */
  width: 100%; /* 設置寬度為100%，覆蓋整個父元素 */
  z-index: 2; /* 將容器的 z-index 設置為 2，使其在上方 */
}

.PollMoreInfo button:hover {
  background-color: #154360; /* 在滑過時更改背景色 */
  color: #fff;
}

.PollMoreInfo button:active {
  background-color: #01182f; /* 在按下時更改背景色 */
}

.voted {
  background-color: #FFC107; /* 金色背景 */
  color: black; /* 黑色文字 */
}